:root {
  --simcoachOrange: #e85625;
  --simcoachBlack: #231f20;
  --simcoachGray: #77787c;
  --simcoachLightGray: #b1b3b9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Profile-picture {
  height: 70vmin;
  position: relative;
  top:-15vmin;
  left:-5vmin;
  pointer-events: none;
}

#profile-picture {
  height: 40vmin;
  width: 40vmin;
  /*background-color: black;*/
  overflow:hidden;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #51917d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SimcoachLogo {
  width: 70vmin;
}

.Simcoach-Games-projs {
  background-color: var(--simcoachLightGray);
  color: var(--simcoachBlack);
}

.SimprojectName {
  color: var(--simcoachOrange);
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
